*{
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
section .row{
    position: relative;
    top: -300px;
    left: -100px;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);

}
i{
    color: #000;
    transition: 10s;
    padding: 0px 5px;
    user-select: none;
    cursor: pointer;
}
i:hover{
    transition: 0s;
    color: blue;
    text-shadow: 0 0 120px blue;
}

















